* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: grid;
  height: 100%;
  scroll-behavior: smooth;
  background-color: #66ccff;
  font-family: sans-serif;
  grid-template-areas:
    'header'
    'content'
    'footer';
  grid-template-rows: 50px auto 50px;
}

header {
  grid-area: header;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  padding-top: 15px;
}

footer {
  grid-area: footer;
  text-align: center;
  color: #fff;
  text-decoration: italic;
  padding-bottom: 15px;
}

#container {
  grid-area: content;
  display: flex;
  justify-content: center;
}

.todoListMain .header input {
  padding: 10px;
  width: max(165px, 27.5vw);
  border: 2px solid #ffffff;
}

.todoListMain .header button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0;
  background-color: #0066ff;
  color: #fff;
  border: 2px solid #0066ff;
  transition: all 0.25s ease-out;
}

.todoListMain .header button:hover {
  background-color: #003399;
  border: 2px solid #003399;
  cursor: pointer;
}

.todoListMain .itemList ul {
  list-style-type: none;
}

.todoListMain .itemList li {
  margin-bottom: 15px;
  display: block;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  color: #333;
  border-radius: 5px;
  transition: all 0.3s ease-out;
  padding: 15px;
}

.todoListMain .itemList:hover li {
  opacity: 0.1;
}

.todoListMain .itemList li:hover {
  opacity: 1;
  transform: scale(1.1);
}
